[submodule "redis-node-client"]
	path = redis-node-client
	url = git://github.com/fictorial/redis-node-client.git
[submodule "connect"]
	path = connect
	url = git://github.com/rjp/connect.git
[submodule "redis-node"]
	path = redis-node
	url = git://github.com/bnoguchi/redis-node.git
