[submodule "redis-node-client"]
	path = redis-node-client
	url = git://github.com/fictorial/redis-node-client.git
[submodule "connect"]
	path = connect
	url = git://github.com/rjp/connect.git
[submodule "redis-node"]
	path = redis-node
	url = git://github.com/bnoguchi/redis-node.git
[submodule "restler"]
	path = restler
	url = git://github.com/rjp/restler.git
[submodule "log.js"]
	path = log.js
	url = git://github.com/visionmedia/log.js.git
[submodule "nodeunit"]
	path = nodeunit
	url = git://github.com/caolan/nodeunit.git
